
.ArtistsList {
    width: 100%;
    padding: $safeArea 0;
}

.Artist {
    position: relative;
    @include setBorder(all);
    margin-bottom: $safeArea;
    background: $clrWhite;
    transition: transform $speed, box-shadow $speed;
    @include flexbox(true);
    justify-content: space-between;
    align-items: center;
    line-height: $lineHeightS;

    * {
        line-height: inherit;
    }

    &:hover {
        box-shadow: $borderW $borderW 0px black;
        transform: translate(-$borderW, -$borderW);
    }

    &-cover {
        $size:72px;
        position: relative;
        min-width: $size+$borderW;
        width: $size+$borderW;
        height: $size;
        border-right: $borderW solid;
        overflow: hidden;
        background-size: cover;
    }

    &-info {
        padding: $safeArea/5 $safeArea/5 $safeArea/5 $safeArea;
        width: 100%;
    }

    &-name {
        font-size: $fontL;

    }

    &-dates {
        padding: 0 $safeArea/2;
        font-style: italic;
        font-size: $fontS;
        color: $clrGray;
    }

    &-details {
        font-size: $fontS;
        color: $clrGray;

        > * {
            padding-right: $safeArea/2;
        }
    }

    &-actions {
        min-width: $safeArea*2;
        transition: opacity $speed;
    }

    @include media(phablet) {

        padding-right: $safeArea*2;

    }
}
