#musikkiEx {
    width: 100%;
    height: 100%;
}

.Window {
    position: relative;
    margin: auto;
    top: 3%; //it could be flexbox or position:absolute but this is enough for the ex.
    width: 95%;
    max-width: 800px;
    height: 95%;
    overflow: auto;
    @include setBorder(all);

    %hf {
        position: absolute;
        width: 100%;
        height: $safeArea*2.5;
        left: 0;
        z-index: 2;
        background: $clrLight;
        text-align: center;
    }

    %flexCenter {
        @extend %flexbox;

        @include flexboxProp {
            justify-content: center;
            align-items: center;
        }

        @mixin noFlex {
            padding-top: $safeArea/3;
        }
    }

    &-header {
        @extend %hf;
        @extend %flexCenter;
        top: 0;
        @include setBorder(bottom);

    }

    &-footer {
        @extend %hf;
        bottom: 0;
        @include setBorder(top);

        &-ul {
            @extend %flexCenter;
            font-size: $fontXS;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $clrGray;

            height: 100%;

            > li {
                display: inline;
                padding-right: $safeArea/3;

                &:not(:first-of-type):before {
                    content: '.';
                    margin-right: $safeArea/3;
                }
            }
        }
    }

    %windowMain {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    &-main {
        @extend %windowMain;
        padding: $safeArea $safeArea/2;

        &--center {
            @extend %windowMain;
            @include flexbox;
            justify-content: center;
            align-items: center;
        }
    }

    @include media(mobile) {
        &-main {
            padding: $safeArea;
        }
    }

    @include media(phablet) {
        top: 5%;
        height: 90%;

        &-main {
            padding: $safeArea*3;
        }
    }
}

//TODO move to helpers
.stateEmpty {
    padding: $safeArea;
    text-align: center;

    @include media(phablet) {
        padding: $safeArea*4 $safeArea;
    }
}
